/*Design*/
body {
    margin: 0 auto;
    padding: 0;
}
section {
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 24px;
    margin-top: 24px;
}

h1, h2, h3, h4, p, li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
    background-color: #DC6243;
    padding: 16px 32px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    border-radius: 8px;
}
button:hover {
    font-weight: bolder;
}

/*temp navbar*/
#nav {
    background-color: #000000;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
#nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a{
    text-decoration: none;
    list-style: none;
    color: #DC6243;
    font-weight: bold;
}
a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

/*HEROS*/
.hero{
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 auto;
}
.heroText{
    color: #FFFFFF;
    font-weight: bold;
}
.welcomeText {
    text-align: center;
}
.hero {
    background-color: #DC6243;
}


/*RENTALS MAIN PAGE*/
.deliveries {
    margin: 0 auto;
    display: flex;
    margin-left: 128px;
    margin-right: 128px;
}
.deliveries img {
    width: 25%;
    max-height: auto;
}
.deliveries .text {
    margin: 0 auto;
    margin-left: 24px; 
    
}
.deliveries .dropButton {
    background-color: #DC6243;
    color: #fff;
    font-weight: bold;
    width: auto;
}
.deliveries .arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 8px;

}
.reviews {
    margin: 0 autp;
    line-height: 0x;
}
.rating {
    background-color: #fff;
    border-color: #d4d4d4;
    padding: 24px;
    filter: drop-shadow(1px 1px 4px #d4d4d4);
    border-radius: 16px;
}
.rating h4 {
    line-height: normal;
    padding-bottom: 0px;
}
.checked {
    color: #DC6243;
}

.actions {
    display:flex;
    justify-content: space-between;
}
.heading {
    margin: 0 auto;
    margin-top: 48px;
    margin-left: 128px;
    margin-right: 128px;
    
}
/*RENTALS GRID*/
.grid {
    margin: 0 auto;
    margin-left: 128px;
    margin-right: 128px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: grid;
    grid-area: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    grid-gap: 24px;
    grid-template-areas: 
    "card1 card2" 
    "card3 card4";
    justify-content: center;
    align-items: flex-start;
}
.grid h4{
    line-height: normal;
}
.grid button {
    margin-top: 8px;
}
#card1 {
    grid-area: card1;
}
#card2 {
    grid-area: card2;
}
#card2 img {
    filter: brightness(.9);
}
#card3 {
    grid-area: card3;
}
#card4 {
    grid-area: card4;
} 
#card4 img {
    filter: brightness(.9);
}  

/*Grid Cards*/
#card1, #card2, #card3, #card4 {
    background-color: #ffffff;
    border-radius: 16px;
    display: block;
    text-align: center;
    justify-items: center;
    padding: 16px;
    filter: drop-shadow(1px 1px 4px #d4d4d4);
}
img {
    border-radius: 8px;
    width: 100%;
    height: 300px;
}

/*Drop Downs*/
.dropButton {
    background-color: #fff;
    color: black;
    width: 100%;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 8px;
    border-color: #d4d4d4;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 8px;
}        
.dropdown {
    display: block;
    justify-content: center;
    max-height: min-content;
    margin: 0 auto;
}
.dropdown:hover .dropButton {
    font-weight: bold;
}
.dropdown:hover .dropButton .arrow {
    transform: rotate(45deg);
    margin-bottom: 2px;
    border-width: 0 2px 2px 0;
}
.dropdown:hover .dropdownContent {
    display: block;
    text-align: start;
    justify-content: start;
    margin-top: 8px;
    width: 100%;
}
.dropdownContent {
    display: none;
}
/*Group Rentals*/
.whyEze {
    margin: 24px;
}
.callToAction {
    margin: 24px;
}

/*Flexbox Containers*/
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    gap: 24px;
    
}
.container .subContainer {
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    filter: drop-shadow(1px 1px 4px #d4d4d4);
    width: 100%;
    height: 100%
}
.container img {
    width: 100%;
    height: 250px;
}
.container .dropButton {
    width: 100%;
    background-color: #DC6243;
    color: #FFFFFF;
    font-weight: bold;
    border-color: #DC6243;
}
.container .arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 8px;
}

/*MOBILE VIEW*/
@media only screen and (max-width: 1000px) {
    .body {
        margin: 0 auto;
    }
    section {
        margin: 24px;
        display: flex;
        flex-direction: column;
    }
    .grid {
        margin: 8px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
    }
    .container {
        display:flex;
        flex-direction: column;
        column-width: 30%;
        margin: 8px;
        justify-content: center;
        align-items: center;
    }
    .container .subContainer {
        margin-top: 8px;
        width: 85%
    }
    .deliveries {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
        flex-wrap: wrap;
        width: 100%;
    }
    .deliveries .text {
        margin: 0 auto;
        margin-right: 24px;
        width: auto;
        padding-right: 24px;
        padding-left: 0px;
    }
    .deliveries img{
        width: auto;
        max-height: auto;
    }
    img {
        width: 400px;
        height: 300px;
    }
    .heading {
        margin-left: 24px;
        margin-right: 24px;
    }
}